.logo1:hover, .logo2:hover {
    -webkit-transition: all 500ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

@-moz-document url-prefix() {
    .logo2 {
        width: 75% !important;
        position: relative !important;
        z-index: 99 !important;
    }
    #imageLogo {
        position: absolute !important; 
        bottom: 35% !important;
        right: 2% !important;
    }
    .logo1 {
        margin-right: -50% !important;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     .logo2 {
       width: 80% !important;
       margin-left: -120% !important;
     }
}

@supports (-ms-accelerator:true) {
     .logo2 {
       width: 80% !important;
       margin-left: -120% !important;
     }
}


.contact .contacts-list .inside {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.contact .contacts-list .inside h1 {
    font-family: playfair display,serif!important;
    font-size: 50px;
    line-height: 1;
    font-weight: 900;
    color: #1d1d1b;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 28px 0 28px;
}


.contact .contacts-list .cl-content.animate.animated {
    max-width: 980px;
    margin: 0 auto;
}

.contact .contacts-list .cl-item .cl-item-illust{
    display:none;
}

.contact .contacts-list .cl-item .cl-item-illust{
display:none;
}

.contact .contacts-list h1 {
    font-family: 'Playfair Display', serif !important;
    font-size: 50px;
    line-height: 1;
    font-weight: 900;
    color: #1d1d1b;
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0 0 28px;
}
.contact .contacts-list .cl-item-photo img {
    max-width: initial;
}

.article-wrapper figure.center img {
    display: block;
    height: auto;
    width: auto !important;
    margin: 0 auto;
}

.article figure small {
    position: relative;
}

/*New catalog*/
 
#catalog-v2 .bgTint {background-color: #d4e6f6!important;
}
/*Mise en avant RS*/
#catalog-v2 .CatalogCard-title.CatalogCard-title--premium {background: #d4e6f6!important;}

/*cacher encart présent sur */ 
#catalog-v2.catalog-scope div.container div.Container-inner section.CatalogAppointmentBar {display: none !important;}

.mod-catal .esf-as-list-filters li:last-child {
    display: none!important;
}

.pg-item {
    margin-left: 13em;
}

.univers .block.block-page.article-title.has-image{
	float: left;
	width: 33%;
}
.univers ul.at-tag.unstyled {
    display: none;
}
.univers p.at-publication {
    display: none;
}
.univers h2.main-title.at-main-title a {
    font-family: 'Playfair Display', serif !important;
    font-size: 32px;
    line-height: 1.3;
    color: #2d3a69 !important;
    position: relative;
    z-index: 2;
}

.expositions .gla-item .gla-item-title {
    padding-bottom: 32px;
}
.expositions .gla-item-content p:not(.gla-item-btn) {
    font-size: initial;
}

.block.global-search-form {
    left: 56% !important;
}
